html
    head
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.googleapis.com", crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap")
        title= 'Searched for ' + searchTerm
        style.
            body {
                background: #dda15eff;
                font-family: 'PT Serif', serif;
                display: grid;
                place-items: center;
                height: 100vh;
            }
            td {
                border: 1px solid black;
                padding: 8px 20px;
                letter-spacing: 1px;
            }
            table {
                border-collapse: collapse;
                border: 2px solid black;
                letter-spacing: 1px;
            }
            .book-result {
                background-color: #fefae0ff;
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-top: 1%;
                border: 1px solid black;
                padding: 15px;
                overflow: hidden;
                width: 100%;
            }
            footer {
                width: 10em;
            }
            .container {
                display: flex;
                flex-direction: column;
                height: 90vh;
            }
            h1, h4, a {
                color: #fefae0ff;
            }
            a {
                text-decoration: none;
            }

    body
            div(class='container')
                ul
                    h1= '🕵️ Search results'
                    for book in searchResult
                        div(class='book-result')
                            table
                                tr
                                    td= 'ID'
                                    td= book.id
                                tr
                                    td= 'Author'
                                    td= book.author
                                tr
                                    td= 'Title'
                                    td= book.title
                                tr
                                    td= 'Genre'
                                    td= book.genre
                                tr
                                    td= 'Price'
                                    td= book.price
                    footer
                        h4
                            a(href="#", onclick="window.history.go(-1);")= 'Go back ↺'